# Godot 4+ specific ignores
.godot/
/android/
*.DS_Store
wyland-runtime/
compiler/

# Ignore build directories
/build/
/bin/
/obj/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile

# Ignore other temporary files
*.o
*.obj
*.exe
*.log
*.tmp
*.out
*.a
*.lib
*.so
*.dll
*.dylib

# Ignore IDE specific files
.vscode/
.idea/
*.suo
*.user
*.userossc
*.sln
*.swp
*.DS_Store