# Godot 4+ specific ignores
.godot/
/android/
*.DS_Store
wyland-runtime/
wyland-godot/
# compiler/
debug/

# This is only for my fucking editor...
boost/
src/libs/SDL2
python/utils/
python/test/

# Ignore build directories
/build/
/bin/
/obj/
src/CMakeFiles/
src/CMakeCache.txt
src/cmake_install.cmake
src/Makefile
src/bin
src/interfaces/SDL2

wysc++.py

# Ignore other temporary files
*.o
*.obj
*.exe
*.log
*.tmp
*.out
*.a
*.lib

# Ignore IDE specific files
.vscode/
.idea/
*.suo
*.user
*.userossc
*.sln
*.swp
*.DS_Store
.DS_Store
